<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Tuite Harusi | Template</title>
	<link rel="icon" type="image/png" href="assets/img/logo.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/AIzaSyBv1vlo_1BY1HhN4w-X4cqd8h-PuzSdGPQ/js?callback=myMap"></script>
	<link rel="stylesheet" href="assets/css/font-awesome-4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Petit+Formal+Script|Raleway" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/template-style.css">
	<script src="assets/js/jquery-3.2.1.js"></script>
	<script src="assets/js/scripts.js"></script>
</head>

<body>
	<div class="jumbotron">

		<i class="fa fa-cog fa-2x" aria-hidden="true"></i>
		<i class="fa fa-user fa-2x" aria-hidden="true"></i>
		<center>
			<h1><span id="bride" contenteditable="true"></span> and <span id="groom" contenteditable="true"></span></h1></center>
	</div>
	<div class="container-fluid inviteBody">
		<div class="container buttons">
			<button type="button" class="btn-inverse" id="next">Next</button>
			<button type="button" class="btn-inverse" id="save">Save</button>
			<button type="button" class="btn-inverse" id="reset">Reset</button>
		</div>
		<div class="templateTitle">
			<h3>Vintage</h3>
		</div>
		<div class="container details">
			<p>Together with their families</p>
			<div class="names">
				<p>And</p>
				<span id="groom" contenteditable="true"></span>
			</div>
			<p>Joyfully invite you to celebrate their wedding</p>
			<div id="dateTime" contenteditable="true">
				<p>On: <span id="date"></p>
				<p>At: <span id="time"></span></p>
			</div>
			<div id="venue" contenteditable="true">
				<p>Service Venue: </p>
				<p>Reception Venue: </p>
				<button type="button" class="btn-inverse" id="viewMap">View Map</button>
			</div>
			<div id="message" contenteditable="true">
				<p>[Your Text Here]</p>
			</div>
			<div class="rsvp">
				<p>Kindly RSVP by:<br> <input type="Date"></p>
				<p>Kindly Confirm your attendance</p>
				<form action="">
					<input type="radio" name="response" value="yes">Yes<br>
					<input type="radio" name="response" value="no">No<br>
					<input type="radio" name="response" value="undecided">Undecided
				</form>
			</div>
		</div>
	</div>
	<div class="container-fluid footer">
		<footer>
			<p>Created by Tuite Harusi team</p>
			<p>Contact us on:
				<a href="mailto:kevahere@gmail.com">musked@gmail.com</a>
			</p>

			<i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
			<i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
			<i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

			<p> &copy;2017 Tuite Harusi</p>
		</footer>
	</div>
</body>

</html>
