<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Tuite Harusi | Template</title>
	<link rel="icon" type="image/png" href="assets/img/logo.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<script src="assets/js/jquery-3.2.1.js"></script>
	<script src="assets/js/scripts.js"></script>
</head>
<body>
	<div class="container">
		<img src="assets/img/logo.png">
		<form id="coupleInfo">
			<div class="form-group" id="coupleNames">
				<input type="text" id="brideName" placeholder="Bride's Name" required="required">
				<input type="text" id="groomName" placeholder="Groom's Name" required="required">
			</div>
			<div class="form-group" id="dateTime">
				<input type="text" id="Date" placeholder="Date" required="required">
				<input type="text" id="Time" placeholder="Time" required="required">
				<input type="text" id="Venue" placeholder="Venue" required="required">
			</div>
			<div class="form-group">
				<textarea placeholder="Message"></textarea>
			</div>
			<button type="submit" class="btn btn-default" id="submitInfo">Submit</button>
		</form>
		<div class="alert alert-success" id="confirm">
			<p>Your details have been successfully submited!</p>
		</div>
	</div>
</body>
</html>