<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Tuite Harusi | Template</title>
	<link rel="icon" type="image/png" href="assets/img/logo.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<script src="assets/js/scripts.js"></script>
</head>
<body>
	<div class="container">
		<img src="assets/img/logo.png">

		<form>
			<div class="form-group" id="coupleNames">
				<input type="text" id="brideName" placeholder="Bride's Name">
				<input type="text" id="groomName" placeholder="Groom's Name">
			</div>
			<div class="form-group">
				<input type="text" id="Date" placeholder="Date">
				<input type="text" id="Time" placeholder="Time">
				<input type="text" id="Venue" placeholder="Venue">
			</div>
			<div class="form-group">
				<textarea>Message</textarea>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</body>
</html>