body {
    background-image: url(../img/invitebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    padding: 30px;
    font-size: 60pt;
    color: white;
    font-family: 'IM Fell English SC', serif;
}

.jumbotron i {
    float: right;
    color: white;
    margin-top: 30px;
    margin-right: 10px;
}

.templateTitle h3 {
    font-family: 'Petit Formal Script', serif;
    text-align: center;
    font-size: 40pt;
    padding: 30px;
    color: white;
}

.btn-inverse {
    margin-left: 200px;
}

#reset {
    background-color: white;
    border-color: transparent;
    border-radius: 20px;
    font-size: 28pt;
    display: inline;
    padding: 10px;
    margin-top: 20px;
    color: black;
}

#next {
    background-color: white;
    border-color: transparent;
    border-radius: 20px;
    font-size: 28pt;
    display: inline;
    padding: 10px;
    margin-top: 20px;
    color: black;
}

#save {
    background-color: white;
    border-color: transparent;
    border-radius: 20px;
    font-size: 28pt;
    padding: 10px;
    margin-top: 20px;
    color: black;
}

#reset:hover, #save:hover, #next:hover {
    background-color: white;
    color: black;
}

.details {
    background-image: url(../img/vintage.jpg);
    background-size: cover;
    font-family: 'IM Fell English SC', serif;
    display: block;
    text-align: center;
    color: black;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border-radius: 15px;
    padding: 30px;
}

.details p {
    font-size: 20pt;
}

#viewMap {
    background-color: transparent;
    border-color: transparent;
}

#viewMap:hover {
    background-color: white;
    color: black;
}

footer {
    text-align: center;
    padding-top: 40px;
    color: white;
    height: 230px;
}

footer p {
    margin-top: auto;
}

.fa:hover {
    color: #37c6f5;
    cursor: pointer;
}

i {
    padding: 8px;
}
