body {
  font-family: 'Alex Brush', cursive font-size: 18px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.jumbotron {
  background: url(../img/bg.jpeg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 550px;
}

.jumbotron .name h1 {
  font-size: 20px;
  color: white;
  float: left;
  font-weight: bolder;
  display: inline-block;
  padding-left: 5px;
  margin-top: -10px;
    cursor: pointer;
}

.jumbotron .name .logo img {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.jumbotron .name h2 {
  padding-left: 10px;
  display: inline;
  font-size: 20pt;
  color: white;
  font-size: 20px;
  margin-top: -30px;
  cursor: pointer;
}

.jumbotron .name h2:hover, .jumbotron .name h1:hover {
  color: #37c6f5;
}

.jumbotron .slogan h3 {
  font-size: 60px;
  color: white;
  padding: 40px;
}

.container-fluid .jumbotron {
  border-radius: 0px;
}

.container-fluid {
  padding: 0;
}

#template-box img {
  width: 500px;
  height: 350px;
}

.tagline {
  margin-top: 90px;
}

footer {
  padding-top: 40px;
  background-color: black;
  color: white;
  height: 300px;
}

footer p {
  margin-top: 40px;
}

footer h2 {
  font-family: serif;
}

.fa:hover {
  color: #37c6f5;
  cursor: pointer;
}

i {
  padding: 8px;
}

.btn-info {
  border-radius: 26px;
  width: 150px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.col-sm-4 img {
  width: 300px;
  height: 300px;
}

.col-sm-8 h2 {
  margin-top: 100px;
}

#easy {
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 50px;
  margin-right: 50px;
}

.number {
  font-size: 55px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.email {
  color: #37c6f5;
}

.email:hover {
  color: #1e6c86;
}
