body {
    background: url(../img/bg.jpeg) center;
    background-size: cover;
}

.header h1 {
    font-size: 80pt;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.invite .header .fa {
    color: white;
    float: right;
    padding: 15px;
}

.buttons {
    text-align: center;
    padding: 30px;
    font-size: 28pt;
}

#newInvite, #savedInvite {
    color: white;
    margin-right: 30px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border-color: Transparent;
    font-family: 'Petit Formal Script', cursive;
}

#newInvite:hover, #savedInvite:hover {
    background-color: black;
}

.description-carousel {
    text-align: center;
    background-color: white;
    margin: 30px;
    box-shadow: 0px 1px 0px 1px solid grey;
    font-family: 'Petit Formal Script', cursive;
    border-radius: 8px;
}

.carousel {
    background-color: white;
    margin: 80px;
    border-radius: 8px;
    font-family: 'Petit Formal Script', cursive;
}

.carousel img {
    opacity: 0.7;
}

.carousel h3 {
    color: black;
    padding: 120px;
    font-size: 40pt;
}

.description-carousel p {
    font-size: 26pt;
}

.carousel img {
    display: center;
    color: black;
}

footer {
    text-align: center;
    padding-top: 40px;
    color: white;
    height: 230px;
}

footer p {
    margin-top: auto;
}

.fa:hover {
    color: #37c6f5;
    cursor: pointer;
}

i {
    padding: 8px;
}
